.html{
    background-color: #dfdfdfe5 ;
}
.main{
    position: absolute;
    left: 50%;
    top: 50%;
    display: flex;
    transform: translate(-50%,-50%);
    height: 600px;
    font-family: "nunito";
    border-bottom-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    box-shadow: #FFC2D1 50px 50px 100px -20px, #FFD6E1 50px 50px 100px -20px, #FFB3C6 50px 30px 60px -30px; }
 .imagem{
    width: 450px;
    height: 600px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
 }
 .nunito {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
p{
    margin-top: 120px;
    padding-left: 30px;
    font-size: 30px;
}
.botao{
    margin-left: 40px;
    font-size: 17px;
    color: white;
    background-image: linear-gradient(to right, #FA3869, #FB6F92);
    border: none;
    border-radius: 5px;
    padding-left: 140px;
    padding-right: 140px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-right: 40px;
    font-weight: bold;
}
.botao:hover{
    cursor: pointer;
    background-image: linear-gradient(to right,  #FB6F92, #FA3869);

}
t{
    margin-left: 100px;
    color: #FFB3C6;
}
a:link{
    color: #FFB3C6;
}
a:visited{
    color: #FA3869;
}
.inputBox{
    position: relative;
}
.inputUser{
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 130px;
    padding-left: 10px;
    margin-left: 40px;
    font-size: 15px;
    margin-bottom: 30px;
    color: grey;
    border-color: #FFC2D1;
    border-radius: 5px;
    letter-spacing: 1px;
    outline: none;
}
.inputUser:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
    transition: 300ms;
    border-color: #e74a72;
    letter-spacing: 1px;
}
.labelInput{
    position: absolute;
    top: 11px;
    left: 50px;
    pointer-events: none;
    transition: .3s;
}
.inputUser:focus ~ .labelInput, .inputUser:valid ~ .labelInput{
    top: -3px;
    font-size: 15px;
    color: #FB6F92;
}