.main{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-family: "nunito";
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    box-shadow: #FFC2D1 0px 1px 1px 0px, #FFD6E1 0px 50px 100px -20px, #FFB3C6 0px 30px 60px -30px; }
 .imagem{
    width: 450px;
    height: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
 }
 .nunito {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
p{
    padding-left: 15px;
    font-size: 30px;
}
.itens{
margin: 10px;
}
.email{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 200px;
    padding-left: 10px;
    margin-left: 25px;
    font-size: 15px;
    margin-bottom: 30px;
    color: grey;
    border-color: #FFC2D1;
    border-radius: 7px;
}
.email:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
    transition: 300ms;
    border-color: #FB6F92;
}
.senha{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 200px;
    padding-left: 10px;
    margin-left: 25px;
    font-size: 15px;
    margin-bottom: 30px;
    color: grey;
    border-color: #FFC2D1;
    border-radius: 7px;
}
.senha:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
    transition: 300ms;
    border-color: #FB6F92;
}
.botao{
    margin-left: 25px;
    font-size: 17px;
    color: white;
    background-color: #FFB3C6;
    border-color: #FFB3C6;
    border-radius: 5px;
    padding-left: 178px;
    padding-right: 178px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}
t{
    margin-left: 110px;
    margin-bottom: 100px;
    color: #FFB3C6;
}
