.html{
    background-color: #FFD6E0 ;
}
.main{
    position: absolute;
    left: 50%;
    top: 50%;
    display: flex;
    transform: translate(-50%,-50%);
    height: 600px;
    font-family: "nunito";
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    box-shadow: #FFC2D1 0px 1px 1px 0px, #FFD6E1 0px 50px 100px -20px, #FFB3C6 0px 30px 60px -30px; }
 .imagem{
    width: 450px;
    height: 600px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
 }
 .nunito {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
p{
    margin-top: 150px;
    padding-left: 30px;
    font-size: 30px;
}

.email{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 130px;
    padding-left: 10px;
    margin-left: 40px;
    font-size: 15px;
    margin-bottom: 30px;
    color: grey;
    border-color: #FFC2D1;
    border-radius: 7px;
}
.email:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
    transition: 300ms;
    border-color: #FB6F92;
}
.senha{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 130px;
    padding-left: 10px;
    margin-left: 40px;
    font-size: 15px;
    margin-bottom: 30px;
    color: grey;
    border-color: #FFC2D1;
    border-radius: 7px;
    
}
.senha:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
    transition: 300ms;
    border-color: #FB6F92;
}
.botao{
    margin-left: 40px;
    font-size: 17px;
    color: white;
    background-color: #FA3869;
    border-color: #FA3869;
    border-radius: 5px;
    padding-left: 140px;
    padding-right: 140px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-right: 40px;
    font-weight: bold;
}
.botao:hover{
    cursor: pointer;
}
t{
    margin-left: 100px;
    color: #FFB3C6;
}
a:link{
    color: #FFB3C6;
}
a:visited{
    color: #FA3869;
}